html {
  box-sizing: border-box;
}

.head {
  height: 10%;
  margin: 10px;
  padding: 10px;
  border-bottom: black 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 25vh;
  width: 75%;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.sidebar {
  height: 60vh;
  width: auto;
  margin: 10px;
  padding: 10px;
  border: black 2px solid;
  background: #fbeaeb;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.nav {
  height: auto;
  width: auto;
  background: #fbeaeb;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  border: black 2px solid;
}
.big-nav {
  float: left;
  width: 20%;
  position: fixed;
}

.cards {
  float: right;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav li {
  list-style-type: none;
}

.nav button {
  margin: 10px;
}

.question {
  width: 100%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.question:hover {
  outline-style: solid;
  outline-color: #2f3c7e;
}

.answer {
  width: 100%;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.answer:hover {
  outline-style: solid;
  outline-color: #fbeaeb;
}

.home {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
