html {
  box-sizing: border-box;
}

.head {
  height: 10%;
  margin: 10px;
  padding: 10px;
  border-bottom: black 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 25vh;
  width: 75%;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.sidebar {
  height: 75vh;
  width: 20%;
  margin: 10px;
  padding: 10px;
  border: black 2px solid;
  float: left;
  background: #fbeaeb;
  position: fixed;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.scroll {
  height: 75vh;
  width: 90%;
  margin: 10px;
  padding: 10px;
  float: left;
  background: #fbeaeb;
  overflow: scroll;
  position: sticky;
}

.nav {
  height: 20%;
  width: 90%;
  background: #fbeaeb;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  float: left;
  position: sticky;
}

.nav li {
  list-style-type: none;
}

.nav button {
  margin: 10px;
}

.scroll li {
  list-style-type: none;
  margin-bottom: 10%;
  border: none;
}

.scroll li:hover {
  cursor: pointer;
  outline: #2f3c7e solid;
}

.question {
  width: 100%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.question:hover {
  outline-style: solid;
  outline-color: #2f3c7e;
}

.answer {
  width: 100%;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.answer:hover {
  outline-style: solid;
  outline-color: #fbeaeb;
}

.home {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
